In [40]:
import pandas as pd

In [93]:
# open and read data
data = 'raw_data/schools_complete.csv'
data1 = 'raw_data/students_complete.csv'

schools = pd.read_csv(data)
students = pd.read_csv(data1)

# calculate total schools, total students, total budget, average math and reading scores
tot_schools = schools['School ID'].count()
tot_students = students['Student ID'].count()
tot_budget = schools['budget'].sum()
avg_math = students['math_score'].mean()
avg_read = students['reading_score'].mean()

# calculate percentage of students passing math
math_scores = students['math_score'] > 70.0
pass_math = math_scores.value_counts()
true_pass_m = pass_math.loc[True]
stu_pass_math = (true_pass_m/ tot_students)*100

# calculate percentage of students passing reading
read_scores = students['reading_score'] > 70.0
pass_read = read_scores.value_counts()
true_pass_r = pass_read.loc[True]
stu_pass_read = (true_pass_r/ tot_students)*100

passing_stu = (students['reading_score'] > 70) & (students['math_score'] > 70)
passing_stu = passing_stu.value_counts()
passing_stu = passing_stu.loc[True]

students['total_score'] = (students['reading_score'] + students['math_score'])/2
overall_pass = students['total_score'] > 70
overall_pass = overall_pass.value_counts()
overall_pass = overall_pass.loc[True]
overall_pass/tot_studentss

0.8823334184324738

In [67]:
students.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84